body {
    margin: 0;
    padding: 0;
    background: black;
}
P {
    font-size: 12px;
    line-height: 8px;
    text-align: justify;
    -webkit-background-size : cover;
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url(IMAGE1.jfif)no-repeat center center fixed;
    background-attachment:  fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgb(225, 225, 225, 0)

}
